LiberaryManagementSystemWeb/xml-resources/web-service-references/LiberaryServer/wsdl/localhost_8080/WebLiberaryManagementServer/LiberaryServer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://liberary.demo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://liberary.demo/" name="LiberaryServer">
<types>
<xsd:schema>
<xsd:import namespace="http://liberary.demo/" schemaLocation="http://localhost:8080/WebLiberaryManagementServer/LiberaryServer?xsd=1"/>
</xsd:schema>
</types>
<message name="studentRegister">
<part name="parameters" element="tns:studentRegister"/>
</message>
<message name="studentRegisterResponse">
<part name="parameters" element="tns:studentRegisterResponse"/>
</message>
<message name="studentReturn">
<part name="parameters" element="tns:studentReturn"/>
</message>
<message name="studentReturnResponse">
<part name="parameters" element="tns:studentReturnResponse"/>
</message>
<message name="addBook">
<part name="parameters" element="tns:addBook"/>
</message>
<message name="addBookResponse">
<part name="parameters" element="tns:addBookResponse"/>
</message>
<message name="deleteIssue">
<part name="parameters" element="tns:deleteIssue"/>
</message>
<message name="deleteIssueResponse">
<part name="parameters" element="tns:deleteIssueResponse"/>
</message>
<message name="issueBookDetail">
<part name="parameters" element="tns:issueBookDetail"/>
</message>
<message name="issueBookDetailResponse">
<part name="parameters" element="tns:issueBookDetailResponse"/>
</message>
<message name="updateBook">
<part name="parameters" element="tns:updateBook"/>
</message>
<message name="updateBookResponse">
<part name="parameters" element="tns:updateBookResponse"/>
</message>
<message name="issuedByBookId">
<part name="parameters" element="tns:issuedByBookId"/>
</message>
<message name="issuedByBookIdResponse">
<part name="parameters" element="tns:issuedByBookIdResponse"/>
</message>
<message name="bookDetailByName">
<part name="parameters" element="tns:bookDetailByName"/>
</message>
<message name="bookDetailByNameResponse">
<part name="parameters" element="tns:bookDetailByNameResponse"/>
</message>
<message name="insertIssueBook">
<part name="parameters" element="tns:insertIssueBook"/>
</message>
<message name="insertIssueBookResponse">
<part name="parameters" element="tns:insertIssueBookResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="bookDetailByStream">
<part name="parameters" element="tns:bookDetailByStream"/>
</message>
<message name="bookDetailByStreamResponse">
<part name="parameters" element="tns:bookDetailByStreamResponse"/>
</message>
<message name="issuedByStudentId">
<part name="parameters" element="tns:issuedByStudentId"/>
</message>
<message name="issuedByStudentIdResponse">
<part name="parameters" element="tns:issuedByStudentIdResponse"/>
</message>
<message name="insertReturnDetail">
<part name="parameters" element="tns:insertReturnDetail"/>
</message>
<message name="insertReturnDetailResponse">
<part name="parameters" element="tns:insertReturnDetailResponse"/>
</message>
<portType name="LiberaryServer">
<operation name="studentRegister">
<input wsam:Action="http://liberary.demo/LiberaryServer/studentRegisterRequest" message="tns:studentRegister"/>
<output wsam:Action="http://liberary.demo/LiberaryServer/studentRegisterResponse" message="tns:studentRegisterResponse"/>
</operation>
<operation name="studentReturn">
<input wsam:Action="http://liberary.demo/LiberaryServer/studentReturnRequest" message="tns:studentReturn"/>
<output wsam:Action="http://liberary.demo/LiberaryServer/studentReturnResponse" message="tns:studentReturnResponse"/>
</operation>
<operation name="addBook">
<input wsam:Action="http://liberary.demo/LiberaryServer/addBookRequest" message="tns:addBook"/>
<output wsam:Action="http://liberary.demo/LiberaryServer/addBookResponse" message="tns:addBookResponse"/>
</operation>
<operation name="deleteIssue">
<input wsam:Action="http://liberary.demo/LiberaryServer/deleteIssueRequest" message="tns:deleteIssue"/>
<output wsam:Action="http://liberary.demo/LiberaryServer/deleteIssueResponse" message="tns:deleteIssueResponse"/>
</operation>
<operation name="issueBookDetail">
<input wsam:Action="http://liberary.demo/LiberaryServer/issueBookDetailRequest" message="tns:issueBookDetail"/>
<output wsam:Action="http://liberary.demo/LiberaryServer/issueBookDetailResponse" message="tns:issueBookDetailResponse"/>
</operation>
<operation name="updateBook">
<input wsam:Action="http://liberary.demo/LiberaryServer/updateBookRequest" message="tns:updateBook"/>
<output wsam:Action="http://liberary.demo/LiberaryServer/updateBookResponse" message="tns:updateBookResponse"/>
</operation>
<operation name="issuedByBookId">
<input wsam:Action="http://liberary.demo/LiberaryServer/issuedByBookIdRequest" message="tns:issuedByBookId"/>
<output wsam:Action="http://liberary.demo/LiberaryServer/issuedByBookIdResponse" message="tns:issuedByBookIdResponse"/>
</operation>
<operation name="bookDetailByName">
<input wsam:Action="http://liberary.demo/LiberaryServer/bookDetailByNameRequest" message="tns:bookDetailByName"/>
<output wsam:Action="http://liberary.demo/LiberaryServer/bookDetailByNameResponse" message="tns:bookDetailByNameResponse"/>
</operation>
<operation name="insertIssueBook">
<input wsam:Action="http://liberary.demo/LiberaryServer/insertIssueBookRequest" message="tns:insertIssueBook"/>
<output wsam:Action="http://liberary.demo/LiberaryServer/insertIssueBookResponse" message="tns:insertIssueBookResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://liberary.demo/LiberaryServer/helloRequest" message="tns:hello"/>
<output wsam:Action="http://liberary.demo/LiberaryServer/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="bookDetailByStream">
<input wsam:Action="http://liberary.demo/LiberaryServer/bookDetailByStreamRequest" message="tns:bookDetailByStream"/>
<output wsam:Action="http://liberary.demo/LiberaryServer/bookDetailByStreamResponse" message="tns:bookDetailByStreamResponse"/>
</operation>
<operation name="issuedByStudentId">
<input wsam:Action="http://liberary.demo/LiberaryServer/issuedByStudentIdRequest" message="tns:issuedByStudentId"/>
<output wsam:Action="http://liberary.demo/LiberaryServer/issuedByStudentIdResponse" message="tns:issuedByStudentIdResponse"/>
</operation>
<operation name="insertReturnDetail">
<input wsam:Action="http://liberary.demo/LiberaryServer/insertReturnDetailRequest" message="tns:insertReturnDetail"/>
<output wsam:Action="http://liberary.demo/LiberaryServer/insertReturnDetailResponse" message="tns:insertReturnDetailResponse"/>
</operation>
</portType>
<binding name="LiberaryServerPortBinding" type="tns:LiberaryServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="studentRegister">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="studentReturn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteIssue">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="issueBookDetail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="issuedByBookId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bookDetailByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertIssueBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bookDetailByStream">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="issuedByStudentId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertReturnDetail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LiberaryServer">
<port name="LiberaryServerPort" binding="tns:LiberaryServerPortBinding">
<soap:address location="http://localhost:8080/WebLiberaryManagementServer/LiberaryServer"/>
</port>
</service>
</definitions>